
#titel {
    font-size: 130px;
    font-family: Helvetica;
    text-align: center;
    margin-top: 200px;
    color: white;
    
}
h1 span {
    background-color: red;
}

#menu {
    text-align: center;
    font-family: Helvetica;
    text-decoration: none;
    color: white;
   
}

#knop {
    margin-right: 50px;
}


ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
   
}

footer{
    
    color: white;
    text-align: center;
    font-family: Helvetica;
}




a {
    transition: background-color 0.5s;

}

a:hover{
    background-color: red;
    
    
}
a:link {
    text-decoration: none;
    color: white;
    
}

a:visited {
    text-decoration: none;
    color: white;
    transition: ease-in;
}

#homepage {

    background-image: url(pexels-tara-winstead-8386369.jpg);
    background-position: center;
    padding-bottom: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 1450px;
}