/* reguleert het gehele menu. Denk aan het lettertype etc */
#menu {
    text-align: center;
    font-family: Helvetica;
    text-decoration: none;
    color: white;
}

/* reguleert de individuele knoppen van het menu, zodat zij verder uit elkaar staan*/
#knop {
    margin-right: 50px;
}

/*zorgt ervoor dat in het menu geen streepjes en puntjes voor mijn knoppen staan en de knoppen horizontaal rangschikken */
ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

/* zorgt ervoor dat de tekst een rode achtergrond krijgt als je er met je muis overheen gaat (hover) */
a:hover{
    background-color: red;  
}

a{
    text-decoration: none;
    color: white;
    transition: ease-in;
}

/*zorgt dat het begin scherm een vaste hoogte heeft en dat de achtergrond zwart is */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;  
}

/*regelt de titel tekst, zowel hoe het eruit ziet als zijn positie */
#titel {
    font-size: 100px;
    font-family: Helvetica;
    text-align: center;
    margin-top: 200px;
    color: white;   
}

/*maakt dankzij de "span" alleen de achtergrond rood van waar de tekst staat en niet over de gehele breedte*/
h1 span {
    background-color: red;
}



/* reguleert mijn paragraven tekst*/
#tekst {
    color: white;
    font-family: Helvetica;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;   
}


#p2 {

    display: flex;
    flex-direction: row;
}

h2 {
    min-width: 60vh;
}

footer{    
    color: white;
    text-align: center;
    font-family: Helvetica;
}

/*regelt voor elke pagina de begin afbeelding en de positie daarvan */
#homepagealgemeen {
    background-image: url(pexels-lukas-574073.jpg);
    background-position: center;
    padding-bottom: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 1450px;
}

#homepage {

    background-image: url(pexels-tara-winstead-8386369.jpg);
    background-position: center;
    padding-bottom: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 1450px;
}

#homepageprivacy {
    background-image: url(pexels-cottonbro-studio-5473955.jpg);
    background-position: center;
    padding-bottom: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 1450px;
}

#homepagecompressie {
    background-image: url(pexels-markus-spiske-2004161.jpg);
    background-position: center;
    padding-bottom: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 1450px;
}

#homepagemedia {
    background-image: url(pexels-tracy-le-blanc-607812.jpg);
    background-position: center;
    padding-bottom: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 1450px;
}

#homepagekleur {
    background-image: url(pexels-marc-schulte-1499539.jpg);
    background-position: center;
    padding-bottom: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 1450px;
}

/*zorgt dat de video in het midden staat */
#video {  
    align-self: center;
}